<div class="block small">
	<button class="button">Default</button>
	<button class="button primary">Primary</button>
	<button class="button success">Success</button>
	<button class="button warning">Warning</button>
	<button class="button danger">Danger</button>
</div>
<div class="block small">
	<button class="button outline">Default</button>
	<button class="button primary outline">Primary</button>
	<button class="button success outline">Success</button>
	<button class="button warning outline">Warning</button>
	<button class="button danger outline">Danger</button>
</div>
<div class="block small">
	<button class="button primary small">primary sm</button>
	<button class="button primary">Primary</button>
	<button class="button primary big">Primary Lg</button>
</div>
<div class="block small">
	<button class="button primary small ion danger"><ion-icon name="heart"></ion-icon> primary sm</button>
	<button class="button primary ion"><ion-icon name="at-outline"></ion-icon> Primary</button>
	<button class="button primary big ion outline success"><ion-icon name="arrow-undo-outline"></ion-icon> Primary Lg</button>
</div>