<div class="block small">
	<div class="row">
		<div class="col-4">
			<div class="card video">
				<iframe class="card-thumb" src="https://www.youtube.com/embed/9BOdzQ8YJLk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<div class="card-head">
					<h3 class="heading">Card Heading</h3>
				</div>
				<div class="card-footer">
					<a href="#" class="button success outline"><span class="mdi mdi-star"></span> Favorite</a>
					<a href="#" class="button danger outline small" style="float: right;"><span class="mdi mdi-alert-octagon-outline"></span> Spam</a>
				</div>
			</div>
		</div>
	</div>
</div>