<div class="block">
	<div class="row">
		<div class="col-4">

			<div class="card">
				<div class="card-head">
					<h3 class="heading">Card Heading</h3>
				</div>
				<div class="card-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
				</div>
				<div class="card-footer">
					<a href="#" class="button success outline"><span class="mdi mdi-star"></span> Favorite</a>
					<a href="#" class="button danger outline small" style="float: right;"><span class="mdi mdi-alert-octagon-outline"></span> Spam</a>
				</div>
			</div>

		</div>
		<div class="col-4">
			
			<div class="card">
				<img src="https://www.bigstockphoto.com/images/homepage/module-6.jpg" class="card-thumb">
				<div class="card-head">
					<h3 class="heading">Card Heading</h3>
				</div>
				<div class="card-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
				</div>
				<div class="card-footer">
					<a href="#" class="button success outline"><span class="mdi mdi-star"></span> Favorite</a>
					<a href="#" class="button danger outline small" style="float: right;"><span class="mdi mdi-alert-octagon-outline"></span> Spam</a>
				</div>
			</div>

		</div>
		<div class="col-4">
			
			<div class="card">
				<div class="card-head">
					<h3 class="heading">Card Heading</h3>
				</div>
				<img src="https://assets.jpegmini.com/user/images/slider_puffin_jpegmini_mobile.jpg" class="card-thumb">
				<div class="card-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
				</div>
				<div class="card-footer">
					<a href="#" class="button success outline"><span class="mdi mdi-star"></span> Favorite</a>
					<a href="#" class="button danger outline small" style="float: right;"><span class="mdi mdi-alert-octagon-outline"></span> Spam</a>
				</div>
			</div>

		</div>
	</div>
</div>