<div class="block">
	<div class="row">
		<div class="col-3">
			<div class="card-profile primary" style="height: 250px">
				<a href="#" class="wrap-link">
					<img src="https://www.bigstockphoto.com/images/homepage/module-6.jpg" class="card-thumb" alt="">
					<div class="card-content">
						<h3 class="heading">John Doe</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, pariatur.
						</p>
					</div>
				</a>
			</div>
		</div>

		<div class="col-3">
			<div class="card-profile success" style="height: 250px">
				<a href="#" class="wrap-link">
					<img src="https://www.bigstockphoto.com/images/homepage/module-6.jpg" class="card-thumb" alt="">
					<div class="card-content">
						<h3 class="heading">John Doe</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, pariatur.
						</p>
					</div>
				</a>
			</div>
		</div>

		<div class="col-3">
			<div class="card-profile warning" style="height: 250px">
				<a href="#" class="wrap-link">
					<img src="https://www.bigstockphoto.com/images/homepage/module-6.jpg" class="card-thumb" alt="">
					<div class="card-content">
						<h3 class="heading">John Doe</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, pariatur.
						</p>
					</div>
				</a>
			</div>
		</div>

		<div class="col-3">
			<div class="card-profile danger" style="height: 250px">
				<a href="#" class="wrap-link">
					<img src="https://www.bigstockphoto.com/images/homepage/module-6.jpg" class="card-thumb" alt="">
					<div class="card-content">
						<h3 class="heading">John Doe</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, pariatur.
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>