<div class="block">
	<div class="card-article">
		<img src="https://www.bigstockphoto.com/images/homepage/module-6.jpg" class="card-thumb">
		<div class="card-content">
			<div class="card-head">
				<h3 class="heading">Card Heading</h3>
			</div>
			<div class="card-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
			</div>
			<div class="card-footer">
				<a href="#" class="button success ion" style="float: right;"><ion-icon name="book-outline"></ion-icon> Read More</a>
			</div>
		</div>
	</div>
</div>

<div class="block">
	<div class="card-article primary">
		<img src="https://www.bigstockphoto.com/images/homepage/module-6.jpg" class="card-thumb">
		<div class="card-content">
			<div class="card-head">
				<h3 class="heading">Card Heading</h3>
			</div>
			<div class="card-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
			</div>
			<div class="card-footer">
				<a href="#" class="button success ion" style="float: right;"><ion-icon name="book-outline"></ion-icon> Read More</a>
			</div>
		</div>
	</div>
</div>

<div class="block">
	<div class="card-article success">
		<img src="https://www.bigstockphoto.com/images/homepage/module-6.jpg" class="card-thumb">
		<div class="card-content">
			<div class="card-head">
				<h3 class="heading">Card Heading</h3>
			</div>
			<div class="card-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum, nobis impedit!</p>
			</div>
			<div class="card-footer">
				<a href="#" class="button ion" style="float: right;"><ion-icon name="book-outline"></ion-icon> Read More</a>
			</div>
		</div>
	</div>
</div>