<div class="block col-4">
	<div class="block small">
		<label class="label">
			<span class="label-text">Your input</span>
			<input type="text" class="input" placeholder="Example: Hello">
		</label>
	</div>
	<div class="block small">
		<label class="label">
			<span class="label-text">Your input</span>
			<input type="date" class="input" placeholder="Example: Hello">
		</label>
	</div>
	<div class="block small">
		<label class="label">
			<span class="label-text">Your big input</span>
			<textarea class="input" placeholder="Example: Hello world..."></textarea>
		</label>
	</div>
	<div class="block small">
		<label class="label">
			<span class="label-text">Your Select</span>
			<select class="input">
				<option value="1">Option one</option>
				<option value="2">Option two</option>
				<option value="3">Option three</option>
			</select>
		</label>
	</div>
	<div class="block small">
		<label class="label">
			<input type="checkbox" class="input">
			<span class="label-text">Your checkbox</span>
		</label>
	</div>
	<div class="block small">
		<label class="label">
			<input type="radio" class="input" name="r">
			<span class="label-text">Your radio btn 1</span>
		</label>
		<label class="label">
			<input type="radio" class="input" name="r">
			<span class="label-text">Your radio btn 2</span>
		</label>
	</div>
</div>