<div class="row">
	<div class="col-4">
		<ul>
			<li>List Item 1</li>
			<li>List Item 2</li>
			<li>List Item 3</li>
			<li>List Item 4</li>
		</ul>
	</div>
	<div class="col-4">
		<ul class="list">
			<li>List Item 1</li>
			<li>List Item 2</li>
			<li>List Item 3</li>
			<li>List Item 4</li>
		</ul>
	</div>
	<div class="col-4">
		<ul class="list">
			<li>List Item 1 <span class="counter primary">21</span></li>
			<li>List Item 2 <span class="counter success">31</span></li>
			<li>List Item 3 <span class="counter warning">428</span></li>
			<li>List Item 4 <span class="counter danger">1</span></li>
		</ul>
	</div>
</div>