<div class="row">
	<div class="col-4">
		<div class="notification show">
			<span class="notification-close"><ion-icon name="close-outline"></ion-icon></span>
			<div class="notification-content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis porro harum illo deserunt blanditiis quas.
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="notification primary show">
			<span class="notification-close"><ion-icon name="close-outline"></ion-icon></span>
			<div class="notification-content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis porro harum illo deserunt blanditiis quas.
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="notification success show">
			<span class="notification-close"><ion-icon name="close-outline"></ion-icon></span>
			<div class="notification-content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis porro harum illo deserunt blanditiis quas.
			</div>
		</div>
	</div>
	<div class="block small col-12"></div>
	<div class="col-4">
		<div class="notification warning show">
			<span class="notification-close"><ion-icon name="close-outline"></ion-icon></span>
			<div class="notification-content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis porro harum illo deserunt blanditiis quas.
			</div>
		</div>
	</div>
	<div class="col-8">
		<div class="notification danger show">
			<span class="notification-close"><ion-icon name="close-outline"></ion-icon></span>
			<div class="notification-content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis porro harum illo deserunt blanditiis quas.
			</div>
		</div>
	</div>
</div>