<div class="row">
	<div class="col-6">
		<table class="table">
			<caption>Table caption</caption>
			<thead>
				<tr>
					<th>Num</th>
					<th>Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>#1</td>
					<td>John Doe</td>
					<td>john.doe@gmail.com</td>
				</tr>
				<tr>
					<td>#2</td>
					<td>Alesandro Smith</td>
					<td>alexsimleman@gmail.com</td>
				</tr>
				<tr>
					<td>#3</td>
					<td>Eugene Sukhodolskiy</td>
					<td>eugene.sukhodolskiy@outlook.com</td>
				</tr>
				<tr>
					<td>#4</td>
					<td>Marry Christmas</td>
					<td>marry@gmail.com</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-6">
		<table class="table primary">
			<caption>Table caption</caption>
			<thead>
				<tr>
					<th>Num</th>
					<th>Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>#1</td>
					<td>John Doe</td>
					<td>john.doe@gmail.com</td>
				</tr>
				<tr>
					<td>#2</td>
					<td>Alesandro Smith</td>
					<td>alexsimleman@gmail.com</td>
				</tr>
				<tr>
					<td>#3</td>
					<td>Eugene Sukhodolskiy</td>
					<td>eugene.sukhodolskiy@outlook.com</td>
				</tr>
				<tr>
					<td>#4</td>
					<td>Marry Christmas</td>
					<td>marry@gmail.com</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>