/* Links */

a.link, a{
	color: var(--color-primary);
	text-decoration: none;
	padding: 3px;
	font-weight: inherit;
	font-size: 1em;
	border-radius: var(--border-radius);
	transition-duration: var(--animation-du);
	transition-property: background-color, color;
}

a{
	color: var(--color-primary-light);
}

a.link:hover{
	text-decoration: none;
	color: var(--color-default);
	background-color: var(--color-primary);
}